body{
    background-color: #3B3355;
    color: #BFCDE0;
    font-size: 40px;
}
div{
    text-align: center;
    padding: 10px;
}
input{
    background-color: #5D5D81;
    color: #BFCDE0;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid black
}
img{
    border-radius: 3%;
    border: 5px solid #5D5D81;
}
#wynik{
    width: 400px;
    margin-left: 39%;

}